{% extends 'docsmgmt/base.html' %}
{% load static %}
{% block content %}
<div class='container'>
<h3>เอกสารภายใน{{request.user.profile.dept}}</h3>
<hr>
{{ docs.count }}
<h5>ทั้งหมด {{ docs_dept.count }} ฉบับ</h5>
<table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">เลขที่</th>
        <th scope="col">หัวข้อ</th>
        <th scope="col">ประเภท</th>
        <th scope="col">วันที่</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    {% for doc in docs_dept %}
    <tbody>
      <tr>
        <td>{{doc.doc_mtno}}</td>
        <td>{{doc.doc_title}}</td>
        <td>{{doc.type_code.type_desc}}</td>
        <td>{{doc.doc_date|date:'d/m/Y'}}</td>
        <td>
            <a href="{% url 'docdetail' doc.id %}" class="btn btn-info btn-sm mb-1 mb-md-1" role="button">รายละเอียด</a>
        </td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>
{% endblock %}

